{% extends "layout.njk" %}

{% macro selectfield(name, array) %}
  <select name="{{name}}">
    {% for val in array %}
      <option value="{{val.key}}" {% if val.isDefault %}selected{% endif %}>
        {{-val.description-}}
      </option>
    {% endfor %}
  </select>
{% endmacro %}

{% block content %}
  <header class="header">
    <h1 class="title">
<pre>███╗   ███╗ ██████╗ ███╗   ██╗███████╗██╗   ██╗██████╗ ███████╗███╗   ██╗███╗   ██╗██╗   ██╗
████╗ ████║██╔═══██╗████╗  ██║██╔════╝╚██╗ ██╔╝██╔══██╗██╔════╝████╗  ██║████╗  ██║╚██╗ ██╔╝
██╔████╔██║██║   ██║██╔██╗ ██║█████╗   ╚████╔╝ ██████╔╝█████╗  ██╔██╗ ██║██╔██╗ ██║ ╚████╔╝ 
██║╚██╔╝██║██║   ██║██║╚██╗██║██╔══╝    ╚██╔╝  ██╔═══╝ ██╔══╝  ██║╚██╗██║██║╚██╗██║  ╚██╔╝  
██║ ╚═╝ ██║╚██████╔╝██║ ╚████║███████╗   ██║   ██║     ███████╗██║ ╚████║██║ ╚████║   ██║   
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝   ╚═╝   ╚═╝     ╚══════╝╚═╝  ╚═══╝╚═╝  ╚═══╝   ╚═╝   
                                                                                            

</pre>
    </h1>
    <p class="sub">Your never tired, <i>slightly</i> incoherent robo-secretary. Built with the <a href="https://cloud.google.com/speech-to-text/" target="_blank" rel="noreferrer noopener">Google Cloud Speech-to-Text</a> API.</p>
  </header>
  <form class="form" method="POST" action="/transcribe" id="transcribe-form" enctype="multipart/form-data">
    <div class="field">
      <div class="field-inner file">
        <label id="file-label" class="button file-label" for="file">
          Pick a file
        </label>
        <input
          accept="audio/*,video/*"
          data-limit="{{limitMb}}"
          type="file"
          name="file"
          id="file"
          required
          multiple="false"
        />
      </div>
      <div class="field-instructions">
        Max. upload size is {{limitMb}}mb. Most audio and video formats should be supported
      </div>
    </div>
    <div class="field">
      <label class="field-label" for="language_code">Language<abbr>*</abbr></label>
      <div class="field-inner">
        <select name="language_code">
          {% for language in languages %}
            <option value="{{language.code}}" {% if language.isDefault %}selected{% endif %}>{{language.description}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <details class="form-advanced" open>
      <summary>Diarization</summary>

      <div class="field">
        <label class="field-label" for="diarization">Enable (if language supported)</label>
        <div class="field-inner">
          <input type="checkbox" name="diarization" />
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="speaker_count">Speaker Count</label>
        <div class="field-inner">
          <input
            type="number"
            name="speaker_count"
            required
            value="2"
            min="1"
            max="15"
          />
        </div>
      </div>
    </details>

    <details class="form-advanced">
      <summary>Advanced Settings</summary>

      <div class="field">
        <label class="field-label" for="microphone_distance">Microphone Distance</label>
        <div class="field-inner">
          {{ selectfield('microphone_distance', microphoneDistances) }}
          </select>
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="interaction_type">Interaction Type</label>
        <div class="field-inner">
          {{ selectfield('interaction_type', interactionTypes) }}
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="recording_device_type">Recording Device Type</label>
        <div class="field-inner">
          {{ selectfield('recording_device_type', recordingDeviceTypes) }}
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="industry_code">NAICS Industry Code</label>
        <div class="field-inner">
          <input type="text" name="industry_code" />
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="punctuation">Punctuation</label>
        <div class="field-inner">
          <input type="checkbox" name="punctuation" checked />
        </div>
      </div>

      <div class="field">
        <label class="field-label" for="profanity_filter">Profanity Filter</label>
        <div class="field-inner">
          <input type="checkbox" name="profanity_filter" />
        </div>
      </div>
    </details>

    <div class="form-actions">
      <button id="submit-btn" type="submit">Transcribe</button>
      <div class="spinner">Hang tight, this might take a long time</div>
    </div>
    <div class="form-output">
      <div class="error"></div>
      <div class="success"></div>
    </div>
  </form>
  <footer class="footer">
    <span>🤖 2020, Berlin</span>
  </footer>
{% endblock %}
