<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">-->
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/static/css/main.css">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
  <div class="page">
    <main class="main">
      <header class="header">
        <h1 class="title">
<pre class="crt">
               o                                                                             
               |                                                                             
███╗   ███╗ ██████╗ ███╗   ██╗███████╗██╗   ██╗██████╗ ███████╗███╗   ██╗███╗   ██╗██╗   ██╗
████╗ ████║██    ██╗████╗  ██║██╔════╝╚██╗ ██╔╝██╔══██╗██╔════╝████╗  ██║████╗  ██║╚██╗ ██╔╝
██╔████╔██║██ ^^ ██║██╔██╗ ██║█████╗   ╚████╔╝ ██████╔╝█████╗  ██╔██╗ ██║██╔██╗ ██║ ╚████╔╝ 
██║╚██╔╝██║██ __ ██║██║╚██╗██║██╔══╝    ╚██╔╝  ██╔═══╝ ██╔══╝  ██║╚██╗██║██║╚██╗██║  ╚██╔╝  
██║ ╚═╝ ██║╚██╠╣██╔╝██║ ╚████║███████╗   ██║   ██║     ███████╗██║ ╚████║██║ ╚████║   ██║   
╚═╝     ╚═╝ ╚═╠╣══╝ ╚═╝  ╚═══╝╚══════╝   ╚═╝   ╚═╝     ╚══════╝╚═╝  ╚═══╝╚═╝  ╚═══╝   ╚═╝   
              ╚╝                                                                            
</pre>
        </h1>
        <p class="sub">Your never tired, <i>slightly</i> incoherent robo-secretary. Built with the <a href="https://cloud.google.com/speech-to-text/" target="_blank" rel="noreferrer noopener">Google Cloud Speech-to-Text</a> API.</p>
      </header>
      {% block content %}{% endblock %}
    </main>
  </div>
  <script type="module" src="/static/js/main.js"></script>
</body>
</html>
